bitcoin==1.1.42
celery==4.1.0
Django==1.11
django-authtools==1.5.0
django-model-utils==2.6.1
django-solo==1.1.2
ethereum==1.6.1
ethereum-abi-utils==0.4.0
ethereum-utils==0.2.0
factory-boy==2.5.2
kombu==4.1.0
six==1.11.0
web3[tester]==3.7.1
